{% extends 'base.html' %}

{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/AddDeducoes.css') }}">

<div class="all">
    <div class="form-container">
        <div class="form-header">
            <h2>Adicionar Dedução</h2>
        </div>
        <div class="form-body">
            <form method="POST" class="add-deducao-form">
                <!-- Selecionar uma dedução já existente -->
                <div class="form-group">
                    <label for="deducao">Escolher dedução existente:</label>
                    <select name="deducao" id="deducao" onchange="atualizarCampos()">
                        <option value="">Selecione uma dedução</option>
                        {% for deducao in deducoes_existentes %}
                            <option value="{{ deducao.id_deducao }}" data-desc="{{ deducao.desc_deducao }}" data-valor="{{ deducao.valor_deducao }}">
                                {{ deducao.desc_deducao }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="desc_deducao">Descrição da Dedução:</label>
                    <input type="text" name="desc_deducao" id="descricao" required>
                </div>

                <div class="form-group">
                    <label for="valor_deducao">Valor da Dedução:</label>
                    <input type="number" step="0.01" name="valor_deducao" id="valor" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-submit">Adicionar Dedução</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Usando JS para se caso o usuário selecionar alguma dedução, as informações já aparecerem nos campos -->
<script>
    function atualizarCampos() {
        var select = document.getElementById('deducao');
        var descricaoField = document.getElementById('descricao');
        var valorField = document.getElementById('valor');
        
        var selectedOption = select.options[select.selectedIndex];
        
        // Verifica se uma opção foi selecionada
        if (selectedOption.value) {
            // Preenche os campos de descrição e valor com os dados da opção selecionada
            descricaoField.value = selectedOption.getAttribute('data-desc');
            valorField.value = selectedOption.getAttribute('data-valor');
        } else {
            // Limpa os campos caso nenhuma opção seja selecionada
            descricaoField.value = '';
            valorField.value = '';
        }
    }
</script>

{% endblock %}
