<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkForce</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sidebar.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav id="sidebar"> <!-- Menu Lateral -->
                <div id="sidebar_content">
                    <div id="user"> <!-- Perfil no menu lateral -->
                        <img src="{{ url_for('static', filename='image/profile_avatar_2.png') }}" id="user_avatar" alt="Avatar">
                        <p id="user_infos">
                            <!-- Mudar essas informações depois para as informações do usuário que fizer login -->
                            <span class="item-description">José</span>
                            <span class="item-description">Administrador</span>
                        </p>
                    </div>

                    <ul id="side_item">
                        <li class="side-item">
                            <a href="{{ url_for('index') }}">
                                <i class="fa-solid fa-chart-simple"></i>
                                <span class="item-description">Dashboard</span>
                            </a>
                        </li>

                        <!-- Links da navbar que agora vão para o sidebar -->
                        <li class="side-item">
                            <a href="{{ url_for('lista_de_funcionarios') }}">
                                <i class="fa-solid fa-list"></i>
                                <span class="item-description">Lista</span>
                            </a>
                        </li>
                        <li class="side-item">
                            <a href="{{ url_for('novo_funcionario') }}">
                                <i class="fa-solid fa-user-plus"></i>
                                <span class="item-description">Cadastrar</span>
                            </a>
                        </li>
                    </ul>

                    <button id="open_btn">
                        <i id="open_btn_icon" class="fa-solid fa-bars"></i>
                    </button>
                </div>

                <div id="logout">
                    <a href="index.html" id="logout_btn">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="item-description">Logout</span> 
                    </a>
                </div>
            </nav>
        </header>
    </div>

    
    <div class="container">
        {% block conteudo %}

        
        {% endblock %}   
    </div>

    <script src="{{ url_for('static', filename='js/Dashboard.js') }}"></script>
</body>
</html>
