{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-5">
        <h2>Cadastro do Funcionário</h2>
        <form action="{{url_for('cadastro_funcionario')}}" method='POST'>
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome_func" placeholder="Digite o nome" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Digite o email">
            </div>
            
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="number" class="form-control" id="cpf" placeholder="Digite o CPF">
            </div>

            <div class="mb-3 row">
                <div class="col">
                    <label for="phone" class="form-label">Telefone 1</label>
                    <input type="tel" class="form-control" id="tel1" placeholder="Digite seu número de contato">
                </div>
                <div class="col">
                    <label for="phone" class="form-label">Telefone 2</label>
                    <input type="tel" class="form-control" id="tel2" placeholder="Digite outro número para contato">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col">
                    <label for="birthdate" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="birthdate" required>
                </div>
                <div class="col">
                    <label for="salary" class="form-label">Salário</label>
                    <input type="number" class="form-control" id="salary" placeholder="Digite seu salário" min="0" step="0.01" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a class= "btn btn-primary" href="{{ url_for('lista_de_funcionarios') }}"> Voltar </a>
    </div>

{% endblock %}