{% extends 'base.html' %}

{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Cadastro.css') }}">

<div class="title">
    <h1 class="titulo-cadastro">Cadastro de Funcionário</h1>
</div>

<div class="form-container">
    <form action="{{ url_for('criando_funcionario') }}" method="POST">
        <div class="grid-form">
            <!-- Informações Pessoais -->
            <div class="form-section form-pessoais">
                <h2>Informações Pessoais</h2>
                <div class="textfield-group">
                    <div class="textfield">
                        <label for="nomeCompleto">Nome Completo:</label>
                        <input type="text" name="nome" placeholder="Nome Completo" required>
                    </div>

                    <div class="textfield">
                        <label for="cpf">CPF:</label>
                        <input type="number" id="cpf" name="cpf" maxlength="14" placeholder="___ . ___ . ___ - __" required>
                    </div>
                </div>

                <div class="textfield-group">
                    <div class="textfield">
                        <label for="tel1">Número para contato 1:</label>
                        <input type="text" id="tel1" name="tel1" maxlegth="15" placeholder="(**)*-****-****" pattern="\d*" title="Somente números">
                    </div>

                    <div class="textfield">
                        <label for="tel2">Número para contato 2:</label>
                        <input type="text" id="tel2" name="tel2" maxlegth="15" placeholder="(**)*-****-****" pattern="\d*" title="Somente números">
                    </div>
                </div>

                <div class="textfield">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" name="data_nascimento">
                </div>

                <div class="textfield-group">
                    <div class="textfield">
                        <label for="rua">Rua:</label>
                        <input type="text" name="rua" placeholder="Rua">
                    </div>

                    <div class="textfield">
                        <label for="bairro">Bairro:</label>
                        <input type="text" name="bairro" placeholder="Bairro">
                    </div>
                </div>

                <div class="textfield-group">
                    <div class="textfield">
                        <label for="num_residencia">Número da Residência:</label>
                        <input type="text" name="num_residencia" placeholder="**">
                    </div>

                    <div class="textfield">
                        <label for="cidade">Cidade:</label>
                        <input type="text" name="cidade" placeholder="Cidade">
                    </div>
                </div>

                <div class="textfield">
                    <label for="cep">CEP:</label>
                    <input type="text" id="cep" name="cep" placeholder="CEP">
                </div>
            </div>

            <!-- Informações do Emprego -->
            <div class="form-section form-emprego">
                <h2>Informações do Emprego</h2>
                <div class="textfield">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" placeholder="E-mail">
                </div>

                <div class="textfield">
                    <label for="data_contratacao">Data de Contratação:</label>
                    <input type="date" name="data_contratacao" required>
                </div>

                <div class="textfield">
                    <label for="cargo">Cargo:</label>
                    <input type="text" name="cargo" placeholder="Cargo" required>
                </div>

                <div class="textfield">
                    <label for="departamento">Departamento:</label>
                    <select name="departamento" required>
                        <option value="">Selecione um departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{ departamento.id_departamento }}">{{ departamento.nome_departamento }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="textfield">
                    <label for="status">Status:</label>
                    <select name="status" required>
                        <option value="EFETIVO">Efetivo</option>
                        <option value="FERIAS">Férias</option>
                        <option value="DEMITIDO">Demitido</option>
                        <option value="ATESTADO">Atestado</option>
                    </select>
                </div>
            </div>

            <!-- Informações Salariais -->
            <div class="form-section form-salario">
                <h2>Informações Salariais</h2>
                <div class="textfield">
                    <label for="nome_banco">Nome do Banco:</label>
                    <input type="text" name="nome_banco" required>
                </div>

                <div class="textfield">
                    <label for="num_agencia">Número da agência(Com DV):</label>
                    <input type="text" id="agencia" name="num_agencia" maxlegth="6" placeholder="****-*" pattern="\d*" title="Somente números" required>
                </div>

                <div class="textfield">
                    <label for="conta_deposito">Conta de depósito:</label>
                    <input type="text" id="conta_deposito" name="conta_deposito" pattern="\d*" title="Somente números" required>
                </div>

                <div class="textfield">
                    <label for="salario_base">Salário Base:</label>
                    <input type="number" id="salario_base" name="salario_base" placeholder="Digite o salário" step="0.01" min="0" required>
                </div>

                <div class="textfield">
                    <label for="status">Data de Pagamento:</label>
                    <select name="status" required>
                        <option value="Quinto Dia Util">5º Dia útil</option>
                    </select>
                </div>

                <div class="textfield">
                    <label for="tipo_contratacao">Tipo:</label>
                    <select name="tipo_contratacao">
                        <option value="HORISTA">Horista</option>
                        <option value="FOLGUISTA">Folguista</option>
                        <option value="INTERMITENTE">Intermitente</option>
                        <option value="MENSALISTA">Mensalista</option>
                        <option value="PJ">PJ</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Botão de Envio -->
        <div class="button-container">
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>

<script>
    // Validação para o campo de salário base
    document.getElementById('salario_base').addEventListener('input', function (event) {
        var valor = event.target.value;
        if (valor < 0) {
            alert("O salário não pode ser negativo.");
            event.target.value = 0;
        }
    });

    // O usuário digitará o CPF e automaticamente será adicionado os pontos e traços
    const cpfInput = document.getElementById("cpf");

    cpfInput.addEventListener("input", function() {
        // Remove todos os caracteres que não são números
        let cpf = cpfInput.value.replace(/\D/g, "");

        // Limita o CPF a 11 dígitos
        cpf = cpf.substring(0, 11);

        // Adiciona a formatação (XXX.XXX.XXX-XX)
        if (cpf.length > 9) {
            cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
        } else if (cpf.length > 6) {
            cpf = cpf.replace(/(\d{3})(\d{3})(\d{1,3})/, "$1.$2.$3");
        } else if (cpf.length > 3) {
            cpf = cpf.replace(/(\d{3})(\d{1,3})/, "$1.$2");
        }

        // Atualiza o valor do campo
        cpfInput.value = cpf;
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
<script>
    $(document).ready(function() {
        $("#cep").inputmask("99999-999"); // Máscara para CEP
        $("#agencia").inputmask("9999-9"); // Máscara para número de agência
        $("#tel1").inputmask("(99)9.9999-9999"); // Máscara para número de contato 1
        $("#tel2").inputmask("(99)9.9999-9999"); // Máscara para número de contato 2
    });
</script>

{% endblock %}
