{% extends 'base.html' %}

{% block conteudo %}
    <div>
        <h2>Informações Pessoais</h2>
        <div>
            <form action="{{url_for('criando_funcionario')}}" method='POST'>
                <div class="textfield">
                    <label for="nomeCompleto">Nome Completo:</label>
                    <input type="text" name="nome" placeholder="Nome Completo" required>
                </div>

                <div class="textfield">
                    <label for="cpf">CPF:</label>
                    <input type="text" name="cpf" placeholder="CPF:" required>
                </div>

                <div class="textfield">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" name="data_nascimento">
                </div>
                
                <div class="textfield">
                    <label for="tel1">Número para contato 1:</label>
                    <input type="text"  name="tel1" placeholder="Número para contato 1">
                </div>

                <div class="textfield">
                    <label for="tel2">Número para contato 2:</label>
                    <input type="text"  name="tel2" placeholder="Número para contato 2">
                </div>
                
                <div class="textfield">
                    <label for="endereco">Endereço:</label>
                    <input type="text"  name="endereco" placeholder="Endereco">
                </div>

                <div class="textfield">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" placeholder="Cidade">
                </div>
                

                <br> 


                <h2>Informações do Emprego</h2>
                <div class="textfield">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" placeholder="E-mail">
                </div>

                <div class="textfield">
                    <label for="data_contratacao">Data de Contratação:</label>
                    <input type="date" name="data_contratacao" required>
                </div>
                
                <div class="textfield">
                    <label for="salario">Salário:</label>
                    <input type="number" name="salario" placeholder="Salário" required>
                </div>
                
                <div class="textfield">
                    <label for="cargo">Cargo:</label>
                    <input type="text" name="cargo" placeholder="Cargo" required>
                </div>

                <div>
                    <label for="departamento">Departamento:</label>
                    <select name="departamento" id="departamento" required>
                        <option value="">Selecione um departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{ departamento.id_departamento }}">{{ departamento.nome_departamento }}</option>
                        {% endfor %}
                    </select>
                </div>               
                
                <div class="textfield">
                    <label for="status">Status:</label>
                    <select name="status" required>
                        <option value="EFETIVO">Efetivo</option>
                        <option value="FERIAS">Férias</option>
                        <option value="DEMITIDO">Demitido</option>
                        <option value="ATESTADO">Atestado</option>
                    </select>
                </div>

                <br>

                <h2>Informações Salariais</h2>

                <div class="textfield">
                    <label for="num_banco">Número do banco: </label>
                    <input type="text" name="num_banco" required>
                </div>

                <div class="textfield">
                    <label for="num_agencia">Número da agência: </label>
                    <input type="text" name="num_agencia" required>
                </div>

                <div class="textfield">
                    <label for="conta_deposito">Conta de deposito: </label>
                    <input type="text" name="conta_deposito" required>
                </div>

                <div class="textfield">
                    <label for="salario_base">Salário Base:</label>
                    <input type="number" id="salario_base" name="salario_base" placeholder="Digite o salário" step="0.01" min="0" required>
                </div>

                <div class="textfield">
                    <label for="data_pagamento">Data de Pagamento:</label>
                    <input type="date" name="data_pagamento">
                </div>

                <div class="textfield">
                    <label for="tipo_contratacao">Tipo:</label>
                    <select name="tipo_contratacao">
                        <option value="HORISTA">Horista</option>
                        <option value="FOLGUISTA">Folguista</option>
                        <option value="INTERMITENTE">Intermitente</option>
                        <option value="MENSALISTA">Mensalista</option>
                        <option value="PJ">PJ</option>
                    </select>
                </div>




                <button type="submit">Cadastrar Funcionário</button>
            </form>
            
            <script>
                document.getElementById('salario_base').addEventListener('input', function (event) {
                    var valor = event.target.value;
                    if (valor < 0) {
                        alert("O salário não pode ser negativo.");
                        event.target.value = 0;
                    }
                });
            </script>
            
        </div>
    </div>

{% endblock %}