<div><main>
    <div class="dashboard-container">
        <div class="dashboard-card">
            <i class="fa-solid fa-users"></i>
            <h3>Total de Funcionários</h3>
            <p>120</p>
        </div>
        <div class="dashboard-card">
            <i class="fa-solid fa-user-clock"></i>
            <h3>Faltas Recentes</h3>
            <p>5</p>
        </div>
        <div class="dashboard-card">
            <i class="fa-solid fa-clock"></i>
            <h3>Horas Trabalhadas</h3>
            <p>480</p>
        </div>
    </div>
    </main>
</div>