{% extends "base.html" %}

{% block conteudo %}

<h1>{{ 'Editar Departamento' if departamento.id_departamento else 'Novo Departamento' }}</h1>

<form method="POST">
    <label for="nome_departamento">Nome do Departamento:</label>
    <input type="text" id="nome_departamento" name="nome_departamento" value="{{ departamento.nome_departamento }}">

    <label for="fk_id_func">Supervisor:</label>
    <select id="fk_id_func" name="fk_id_func">
        <option value="">Selecione um supervisor</option>
        {% for funcio in funcionarios %}
            <option value="{{ funcio.id_func }}" {% if departamento and departamento.fk_id_func == funcio.id_func %}selected{% endif %}>
                {{ funcio.nome }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Salvar</button>
</form>

{% endblock %}
