{% extends 'base.html' %}

{% block conteudo %}
    <div>
        <h2>Informações Pessoais</h2>
        <div>
            <form action="{{url_for('atualizar_informacoes')}}" method='POST'>
                
                <input type="hidden" name="id_pessoa" value="{{ funcionario.fk_id_pessoa }}">
                <input type="hidden" name="id_func" value="{{ funcionario.id_func }}">

                <div class="textfield">
                    <label for="nomeCompleto">Nome Completo:</label>
                    <input type="text" name="nome" placeholder="Nome Completo" value="{{ pessoa.nome }}" required>
                </div>

                <div class="textfield">
                    <label for="cpf">CPF:</label>
                    <input type="text" name="cpf" placeholder="CPF:" value="{{pessoa.cpf}}" required>
                </div>

                <div class="textfield">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" name="data_nascimento" value="{{ pessoa.data_nascimento }}">
                </div>
                
                <div class="textfield">
                    <label for="tel1">Número para contato 1:</label>
                    <input type="text"  name="tel1" placeholder="Número para contato 1" value="{{ pessoa.tel1 }}">
                </div>

                <div class="textfield">
                    <label for="tel2">Número para contato 2:</label>
                    <input type="text"  name="tel2" placeholder="Número para contato 2" value="{{ pessoa.tel2 }}">
                </div>
                
                <div class="textfield">
                    <label for="endereco">Endereço:</label>
                    <input type="text"  name="endereco" placeholder="Endereco" value="{{ pessoa.endereco }}">
                </div>

                <div class="textfield">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" placeholder="Cidade" value="{{ pessoa.cidade }}">
                </div>
                

                <br> 


                <h2>Informações do Emprego</h2>
                <div class="textfield">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" placeholder="E-mail"value="{{ funcionario.email }}" >
                </div>

                <div class="textfield">
                    <label for="data_contratacao">Data de Contratação:</label>
                    <input type="date" name="data_contratacao" value="{{ funcionario.data_contratacao }}" required>
                </div>
                
                <div class="textfield">
                    <label for="cargo">Cargo:</label>
                    <input type="text" name="cargo" placeholder="Cargo" value="{{ funcionario.nome_cargo }}" required>
                </div>

                <div class="textfield">
                    <label for="departamento">Departamento:</label>
                    <select name="departamento" required>
                        {% for departamento in departamentos %}
                            <option value="{{ departamento.id_departamento }}" {% if departamento.id_departamento == funcionario.fk_id_departamento %}selected{% endif %}>
                                {{ departamento.nome_departamento }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="textfield">
                    <label for="status">Status:</label>
                    <select name="status" required>
                        <option value="EFETIVO" {% if funcionario.status_func == 'EFETIVO' %}selected{% endif %}>Efetivo</option>
                        <option value="FERIAS" {% if funcionario.status_func == 'FERIAS' %}selected{% endif %}>Férias</option>
                        <option value="DEMITIDO" {% if funcionario.status_func == 'DEMITIDO' %}selected{% endif %}>Demitido</option>
                        <option value="ATESTADO" {% if funcionario.status_func == 'ATESTADO' %}selected{% endif %}>Atestado</option>
                    </select>
                </div>


                <h2>Informações Salariais</h2>

                {% if folha_pagamento %}
                    <div class="textfield">
                        <label for="num_banco">Nome do Banco: </label>
                        <input type="text" name="num_banco" value="{{ folha_pagamento.num_banco }}" required>
                    </div>

                    <div class="textfield">
                        <label for="num_agencia">Número da agência: </label>
                        <input type="text" name="num_agencia" value="{{ folha_pagamento.num_agencia }}" required>
                    </div>

                    <div class="textfield">
                        <label for="conta_deposito">Conta de deposito: </label>
                        <input type="text" name="conta_deposito" value="{{ folha_pagamento.conta_deposito }}" required>
                    </div>

                    <div class="textfield">
                        <label for="salario_base">Salário Base:</label>
                        <input type="number" id="salario_base" name="salario_base" placeholder="Digite o salário" step="0.01" min="0" value="{{ folha_pagamento.salario_base }}" required>
                    </div>

                    <div class="textfield">
                        <label for="data_pagamento">Data de Pagamento:</label>
                        <input type="date" name="data_pagamento" value="{{ folha_pagamento.data_pagamento }}">
                    </div>

                    <div class="textfield">
                        <label for="tipo_contratacao">Tipo:</label>
                        <select name="tipo_contratacao">
                            <option value="HORISTA" {% if folha_pagamento.tipo == 'HORISTA' %} selected {% endif %}>Horista</option>
                            <option value="FOLGUISTA" {% if folha_pagamento.tipo == 'FOLGUISTA' %} selected {% endif %}>Folguista</option>
                            <option value="INTERMITENTE" {% if folha_pagamento.tipo == 'INTERMITENTE' %} selected {% endif %}>Intermitente</option>
                            <option value="MENSALISTA" {% if folha_pagamento.tipo == 'MENSALISTA' %} selected {% endif %}>Mensalista</option>
                            <option value="PJ" {% if folha_pagamento.tipo == 'PJ' %} selected {% endif %}>PJ</option>
                        </select>
                    </div>

                {% else %}
                    <p>Esse funcionário não possui uma folha de pagamento cadastrada.</p>
                
                {% endif %}

                <button type="submit">Salvar Informações</button>
                <button> <a href="{{ url_for('lista_de_funcionarios') }}"> Voltar </a> </button>
            </form>
        </div>
    </div>

{% endblock %}