{% extends 'base.html' %}

{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/funcionario_d.css') }}">

<!-- Contêiner para os cards -->
<div class="cards-container">
    <div class="card">
        <div class="card-header">
            <h3>Informações Pessoais</h3>
        </div>
        <div class="card-body">
            <!-- Conteúdo das informações pessoais -->
            <p><strong>ID:</strong> {{ funcionario.pessoa.id_pessoa }}</p>
            <p><strong>CPF: </strong> {{ funcionario.pessoa.cpf }}</p>
            <p><strong>Data de Nascimento: </strong> {{ funcionario.pessoa.data_nascimento.strftime('%d/%m/%Y') }}</p>
            <p><strong>Número p/ Contato 1: </strong> {{ funcionario.pessoa.tel1 }}</p>
            <p><strong>Número p/ Contato 2: </strong> {{funcionario.pessoa.tel2 if funcionario.pessoa.tel2 else 'Não registrado' }}</p>
            <p><strong>Rua: </strong> {{ funcionario.pessoa.rua }}</p>
            <p><strong>Bairro: </strong> {{ funcionario.pessoa.bairro }}</p>
            <p><strong>Número da residência: </strong> {{ funcionario.pessoa.num_residencia }}</p>
            <p><strong>Cidade: </strong> {{ funcionario.pessoa.cidade }}</p>
            <p><strong>CEP: </strong> {{ funcionario.pessoa.cep }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3> Informações de Emprego </h3>
        </div>
        <div class="card-body">
            <!-- Conteúdo das informações de emprego -->
            <p><strong>Matricula: </strong> {{ funcionario.id_func }}</p>
            <p><strong>Email:</strong> {{ funcionario.email }}</p>
            <p><strong>Data de Contratação:</strong> {{ funcionario.data_contratacao.strftime('%d/%m/%y') }}</p>
            <p><strong>Cargo:</strong> {{ funcionario.nome_cargo }}</p>
            <p><strong>Status:</strong> {{ funcionario.status_func }}</p>
            <p><strong>Departamento:</strong> {{ funcionario.departamento.nome_departamento if funcionario.departamento else 'Nenhum' }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Informações Salariais</h3>
        </div>
        <div class="card-body">
            <!-- Conteúdo das informações salariais -->
            {% if folha_pagamento %}
                <p><strong>Salário Base:</strong> R$ {{ folha_pagamento.salario_base }}</p>
                <p><strong>Data de Pagamento:</strong> {{ folha_pagamento.data_pagamento }}</p>
                <p><strong>Tipo de Contratação:</strong> {{ folha_pagamento.tipo.value }}</p>
                <p><strong>Banco:</strong> {{ folha_pagamento.nome_banco }}</p>
                <p><strong>Agência:</strong> {{ folha_pagamento.num_agencia }}</p>
                <p><strong>Conta para Depósito:</strong> {{ folha_pagamento.conta_deposito }}</p>
            {% else %}
                <p>Nenhuma informação de salário encontrada.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="card-footer">
    <a href="{{ url_for('lista_de_funcionarios') }}" class="btn-secondary">Voltar</a>
    <a href="{{ url_for('editar_informacoes', id_func=funcionario.id_func) }}" class="btn btn-info">Editar</a>
    <a href="{{ url_for('gerar_folha_pagamento', id_func=funcionario.id_func) }}" class="btn btn-success">Folha de pagamento</a>
</div>


{% endblock %}
