{% extends 'base.html' %}

{% block conteudo %}

<div class="card">
    <div class="card-header">
        <h3>Informações Pessoais</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ funcionario.pessoa.nome }}</h5>
        <p><strong>ID:</strong> {{ funcionario.id_func }}</p>
        <p><strong>Email:</strong> {{ funcionario.email }}</p>
        <p><strong>Data de Contratação:</strong> {{ funcionario.data_contratacao.strftime('%d/%m/%y') }}</p>
        <p><strong>Cargo:</strong> {{ funcionario.nome_cargo }}</p>
        <p><strong>Status:</strong> {{ funcionario.status_func.value }}</p>
        <p><strong>Departamento:</strong> {{ funcionario.departamento.nome_departamento if funcionario.departamento else 'Nenhum' }}</p>
        <!-- Adicione mais informações conforme necessário -->
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Informações Salariais</h3>
    </div>
    <div class="card-body">
        {% if folha_pagamento %}
        <p><strong>Salário Base:</strong> R$ {{ folha_pagamento.salario_base }}</p>
        <p><strong>Data de Pagamento:</strong> {{ folha_pagamento.data_pagamento.strftime('%d/%m/%y') }}</p>
        <p><strong>Tipo de Contratação:</strong> {{ folha_pagamento.tipo.value }}</p>
        <p><strong>Banco:</strong> {{ folha_pagamento.num_banco }}</p>
        <p><strong>Agência:</strong> {{ folha_pagamento.num_agencia }}</p>
        <p><strong>Conta para Depósito:</strong> {{ folha_pagamento.conta_deposito }}</p>
    {% else %}
        <p>Nenhuma informação de salário encontrada.</p>
    {% endif %}
    </div>


    <div class="card-footer">
        <a href="{{ url_for('lista_de_funcionarios') }}" class="btn btn-secondary">Voltar</a>
    </div>
</div>

{% endblock %}