{% extends 'base.html' %}

{% block conteudo %}

    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th> ID </th>
                <th> Nome </th>
                <th> Departamento </th>
                <th> Cargo </th>
                <th> Data de Contratação </th>
                <th> Status do Funcionario </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            {% for funcionario, departamento in lista_func %}
                <tr>
                    <td>{{ funcionario.id_func }}</td>
                    <td>{{ funcionario.pessoa.nome }}</td> <!-- Acessando o nome do funcionário através da relação (FK) -->
                    <td>{{ departamento }}</td>
                    <td>{{ funcionario.nome_cargo }}</td>
                    <td>{{ funcionario.data_contratacao.strftime('%d/%m/%y') }}</td> <!-- Formatando o tipo de data -->
                    <td>{{ funcionario.status_func.value }}</td> <!-- Acessa o valor do Enumm -->
                    <td> <a href="{{ url_for('editar_informacoes', id_func=funcionario.id_func) }}">Editar</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}