<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
    <title>Login</title>
    <link rel="icon" href="Imagens/logotipo.projeto.workforces.png" type="image/png">
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1> Bem-vindo à <span class="highlight">WorkForce's</span>, <br> realize seu registro agora mesmo! </h1>
            <img src="{{ url_for('static', filename='image/animacao-rh.svg') }}" class="left-login-image" alt="animação">
        </div>        

        <div class="right-login"> 
            <div class="card-login">
                <h1> ACESSO </h1>
                
                <!-- Formulário de Registro -->
                <form method="POST">
                    {{ form.hidden_tag() }}  <!-- Adiciona o CSRF token -->
                    
                    <div class="form-group">
                        <label for="login_user">Login:</label>
                        {{ form.login_user }}
                    </div>
                    
                    <div class="form-group">
                        <label for="senha_hash">Senha</label>
                        {{ form.senha }}
                    </div>

                    <div class="form-group">
                        <label for="senha_hash">Confirme a Senha:</label>
                        {{ form.confirmar_senha }}
                    </div>
                    
                    <div class="form-group">
                        <label for="funcionario_id">Associar ao funcionário:</label>
                        {{ form.funcionario_id }}
                    </div>

                    <div class="form-group">
                        <label for="role">Nível de acesso:</label>
                        {{ form.role }}
                    </div>

                    <div>
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Adicionando o script externo -->
    <script src="{{ url_for('static', filename='js/Login.js') }}"></script>
</body>
</html>
