/* Estilo geral */
.all {
    width: 100%;
    margin-left: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 10%;
}

.titulo-principal h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-right: 70%;
    color: #191978;
}

.lista-header {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 80%;
    color: #f97316;
}

.filtro form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 3%;
    margin-bottom: 20px;
}

.filtro input, .filtro select, .filtro button {
    padding: 10px;
    font-size: 1rem;
}

.filtro button {
    cursor: pointer;
}

.lista-container {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f1f1f1;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.acao-link {
    color: #f97316;
    text-decoration: none;
    margin-right: 10px;
}

.acao-link:hover {
    text-decoration: underline;
}

.resultados {
    margin-top: 20px;
}

.resultados table {
    width: 100%;
}

.resultados p {
    color: #888;
    font-style: italic;
}

.btn {
    background-color: #f97316;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #191978;
}
